<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:david.heseri@icloud.com">E-mail</a></li>
	        		<li><a href="https://twitter.com/davidheseri">Twitter</a></li>
	        		<li><a href="https://www.facebook.com/david.heseri">Facebook</a></li>
	        		<li><a href="https://ca.linkedin.com/in/dheseri">LinkedIn</a></li>
	        		<li><a href="https://github.com/dheseri">github.com/dheseri</a></li>
	        		
				</ul>
			</footer>
		</body>
	</html>
